[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A packetdrill version allowing to 1) use multiple sockets at the same time, 2) test multipath tcp network stack implementation.
[access "refs/*"]
	owner = group user/Peter Krystad (pkrystad)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Peter Krystad (pkrystad)
	label-Verified = -1..+1 group user/Peter Krystad (pkrystad)
	push = group user/Peter Krystad (pkrystad)
	read = group user/Peter Krystad (pkrystad)
	rebase = group user/Peter Krystad (pkrystad)
	removeReviewer = group user/Peter Krystad (pkrystad)
	submit = group user/Peter Krystad (pkrystad)
[access "refs/heads/*"]
	create = group user/Peter Krystad (pkrystad)
	push = +force group user/Peter Krystad (pkrystad)
	pushMerge = group user/Peter Krystad (pkrystad)
	read = group user/Peter Krystad (pkrystad)
[access "refs/tags/*"]
	push = group user/Peter Krystad (pkrystad)
	push = +force group user/Peter Krystad (pkrystad)
